@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
}

h1 {
    margin: 30px 0 20px 0;
}

h2 {
    margin: 30px 0 20px 0;
}


main {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/*RIGHT*/
.theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.theme button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    margin: 20px 0 20px 0;
}

#grey-btn {
    background-color: rgb(226, 226, 226);
}
#pink-btn {
    background-color: rgb(250, 210, 215);
}
#blue-btn {
    background-color: rgb(204, 219, 253);
}
#green-btn {
    background-color: rgb(173, 247, 182);
}


/*MIDDLE*/
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px 0 10px 0;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
.middle button {
    padding: 5px 10px;
    margin: 5px 5px 0 5px;
    background-color: #96dbf4;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

/*LEFT*/
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left div {
    margin: 20px;
}



#message {
    margin-top: 20px;
}

footer {
    margin-top: 60px;
}