@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 30px;
}

h2 {
    margin-bottom: 20px;
}

.theme{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.theme div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    width: 100%;
}

.theme div button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}



#black-btn {
    background-color: black;
}

#pink-btn {
    background-color: rgb(247, 96, 184);
}

#blue-btn {
    background-color: rgb(2, 23, 207);
}

#green-btn {
    background-color: green;
}

.form-players {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.form-players div {
    padding: 5px;
}




/*GAME PAGE CSS*/
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.middle-game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.middle-game div {
    margin: 10px 30px 10px 30px;
}


footer {
    margin-top: 60px;
}



/*Buttons*/
button {
    padding: 5px 10px;
    background-color: #96dbf4;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}


/*message*/
#message {
    margin-top: 20px;
}